@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #262d2b;
  color: #ffffff;
}
a {
  text-decoration: none;
}
code {
  background: #f2f2f2;
  padding: 1px 4px;
  border-radius: 4px;

  &.block {
    padding: 20px;
    margin: 10px 0;
    display: block;
  }
}
p {
  font-family: 'Roboto', sans-serif;
  line-height: 20px;
  font-size: 14px;
}
.nav {
  a {
    color: #fff;
  }
}
.App {
  text-align: center;

  &-intro {
    font-size: large;
  }
}

.grid {
  width: 992px;
  margin: 50px auto;
}

.calendar {
  input[type='text'] {
    color: #ffffff !important;
  }
  code {
    color: #000000;
    font-weight: 900;
  }
}
